{% extends "base.html" %}

{% block title %}
Basil&Thyme - Sign In
{% endblock title %}
{% block metadescr %}
Discover your new favourite recipes at Basil&Thyme! Sign in to add recipes to favourites, rate recipes, and leave
comments!
{% endblock metadescr %}
{% block metakeywords %}
cooking online community, recipe site community, Basil&Thyme log in, Basil&Thyme sign in, B&T log in, Basil and thyme
log in, Basil and thyme sign in
{% endblock metakeywords %}

{% block content %}

<div class="container-xl h-100 d-flex justify-content-center align-items-center">
  <div class="my-3 my-md-4 m-lg-4 p-4 bg-white shadow border-subtle">
    <div class="row">
      <div class="col-md-6">
        <h1 class="mb-3">Sign in</h1>
        <div class="bg-brand-green h-line mb-3"> </div>
        <form class="login my-4" method="POST" action="{% url 'account_login' %}">
          {% csrf_token %}
          {{ form.as_p }}
          {% if redirect_field_value %}
          <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
          {% endif %}
          <button class="primaryAction border-btn-green btn-rounded btn-shadow p-2 px-3 fw-bold fs-5" type="submit">Sign
            In</button>
        </form>
      </div>
      <div class="col-md-6 d-flex">
        <div class="bg-brand-gray p-4 text-center d-flex flex-column justify-content-center">
          <p class="fs-5">If you have not created an account yet, then please sign up first. <span class="fw-bold">It's
              free!</span>
          </p>
          <div>
            <a class="btn border-btn-yellow btn-shadow btn-rounded d-inline-block p-2 px-3 fw-bold fs-5"
              href="{% url 'account_signup' %}" aria-label="Go to the sign up page to register">
              Sign Up
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}