{% extends "base.html" %}
<!-- Page meta description -->
{% block metadescr %}
Leaving us so soon? On this page you can log out from your Basil&Thyme account.
{% endblock metadescr %}
<!-- Page title -->
{% block title %}
Basil&Thyme - Sign Out
{% endblock title %}
<!-- Page main content -->
{% block content %}
<div class="container-xl h-100 d-flex justify-content-center align-items-center">
  <!-- Sign out section -->
  <section class="my-3 my-md-4 m-lg-4 p-4 bg-white shadow border-subtle mx-auto w-full max-w-900">
    <h1>Sign out</h1>
    <div class="bg-brand-green h-line mb-3"> </div>
    <p>Are you sure you want to sign out?</p>
    <!-- Sign out form -->
    <form method="post" action="{% url 'account_logout' %}">
      {% csrf_token %}
      {% if redirect_field_value %}
      <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
      {% endif %}
      <button type="submit" class="border-btn-yellow btn-shadow btn-rounded p-2 px-3 fw-bold fs-5">Sign Out</button>
    </form>
  </section>
</div>
{% endblock content %}