{% extends "base.html" %}


{% block title %}
Basil&Thyme - Sign Up
{% endblock title %}
{% block metadescr %}
Discover your new favourite recipes at Basil&Thyme! Sign up for a free account to add recipes to favourites, rate
recipes, and leave
comments!
{% endblock metadescr %}
{% block metakeywords %}
Basil&Thyme create account, Basil&Thyme sign up, B&T sign up, Basil and thyme sign up, Basil and thyme account
{% endblock metakeywords %}

{% block content %}
<div class="container-xl h-100 d-flex justify-content-center align-items-center">
  <div class="my-3 my-md-4 m-lg-4 p-4 bg-white white-container">
    <div class="row">
      <h1 class="mb-3">Sign Up</h1>
      <div class="bg-brand-green h-line mb-3"> </div>
      <div class="col-lg-6">

        <form class="signup my-4" id="signup_form" method="post" action="{% url 'account_signup' %}">
          {% csrf_token %}
          {{ form.as_p }}
          {% if redirect_field_value %}
          <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
          {% endif %}
          <button type="submit" class="submit-btn p-2 px-3 fs-5 fw-bold">Sign Up &raquo;</button>
        </form>
      </div>

      <div class="col-lg-6 d-flex">
        <div class="bg-brand-gray p-4 w-100 h-100 text-center d-flex flex-column justify-content-center">
          <p class="fs-5">Already have an account? Then please <span class="fw-bold">sign in</span> instead.</p>
          <div>
            <a class="btn comment-edit d-inline-block p-2 px-3 fw-bold fs-5" href="{% url 'account_login' %}"
              aria-label="Go to the sign in page to log in">
              Sign In
            </a>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>

{% endblock content %}