/* Google Fonts: Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

/* General */
body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    color: #201425;
}

main {
    flex: 1 0 auto;
    margin-top: 57.5px;
}


/* ----------------------------- Colours */

.bg-brand-green {
    background-color: #008B20;
}

.bg-brand-brown {
    background-color: #442A23;
}

.bg-brand-gray {
    background-color: #F8F9F8;
}

.bg-brand-yellow {
    background-color: #FFC633;
}

.bg-white {
    background-color: #ffffff;
}

.bg-modal {
    background-color: #412f2bb2;
}

.brand-brown {
    color: #442A23;
}

.brand-green {
    color: #008B20;
}

.brand-yellow {
    color: #FFC633;
}

.brand-dark {
    color: #201425;
}

.red {
    color: #a90606;
}

body {
    font-family: "Poppins", sans-serif;
}

/* ------------------------------ Heights/sizing */
.height-300-400 {
    height: 300px;
}

.img-sq-150-200 {
    height: 150px;
    width: 150px;
}

.img-container {
    max-height: 370px;
}

.img-cover {
    object-fit: cover;
    width: 100%;
}

.h-line {
    height: 2.5px;
}

.fs-rem-110 {
    font-size: 1.1rem;
}

.fs-rem-120 {
    font-size: 1.2rem;
}

.fs-rem-130 {
    font-size: 1.3rem;
}

.fs-rem-150 {
    font-size: 1.5rem;
}

.fs-rem-180 {
    font-size: 1.8rem;
}

.fs-rem-250 {
    font-size: 2.5rem;
}

.below-header {
    margin-top: 65px;
}

/* -------------------------------- Links and buttons */
.standard-link {
    text-decoration: none;
}

.standard-link:hover,
.standard-link:active {
    text-decoration: underline;
}

/* ----------------------------- Navbar/Header */

.nav-link {
    color: #ffffff;
    font-size: 1.2rem;
}

.nav-link i {
    font-size: 1.3rem;
}

.current {
    font-weight: 600;
}

.navbar-brand img {
    height: 30px;
    aspect-ratio: 5.66 / 1;
}

.navbar-toggler-icon {
    font-weight: 700;
}


/* -------------------------------- Hero section with content overlay */
.hero-section {
    background-color: #F8F9F8;
    height: 550px;
    background: url("../images/hero.webp") no-repeat center top/cover;
}

.hero-section-wallpaper {
    height: 450px;
    background: url("../images/pattern-white.webp") no-repeat center top/cover;
    background-color: #FFC633;
}

.searchbar-outline {
    border-radius: 15px;
    padding: 10px;
    border: 1.5px solid white;
}

.searchbar {
    background-color: #ffffff;
    border-radius: 15px;
}

.searchbar .btn {
    background-color: #F8F9F8;
}

.searchbar .btn:hover,
.searchbar .btn:focus {
    background-color: #008B20;
}

.searchbar .btn:active {
    border: #008B20;
}

.category-btns .btn {
    background-color: #FFC633;
    border-radius: 2em;
}

.category-btns .btn:hover,
.category-btns .btn:active,
.category-btns .btn:focus {
    background-color: transparent;
    color: #ffc633;
    border: 1px solid #ffc633;
}

.fave-signin-btn {
    border: 2px solid #FFC633;
    box-shadow: 5px 5px 8px #f5f5f5,
        -5px -5px 8px #ffffff;
}

.fave-signup-btn {
    border: 2px solid #FFC633;
    background-color: #FFC633;
    box-shadow: 5px 5px 8px #f5f5f5,
        -5px -5px 8px #ffffff;
}

.fave-signin-btn:hover,
.fave-signin-btn:active,
.fave-signup-btn:hover,
.fave-signup-btn:hover {
    border: 2px solid #FFC633;
    background-color: #FFC633;
    font-weight: 600;
    box-shadow: 8px 8px 16px #ebebeb,
        -8px -8px 16px #ffffff;

}


/* -------------------------------- Recipe cards */

.card {
    max-width: 370px;
    border: 1px solid #dadeda;
    box-shadow: 6px 6px 12px #e9eae9,
        -6px -6px 12px #ffffff;
}

.card-img-top {
    aspect-ratio: 3/2;
    object-fit: cover;
}

.card-title {
    font-size: 1.3rem;
}

/* Credit: https://blog.logrocket.com/ways-truncate-text-css/ */
.truncate-two-lines {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    line-height: 1.5;
    max-height: 3em;
}

/* Credit: https://blog.logrocket.com/ways-truncate-text-css/ */
.truncate-three-lines {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 4;
    line-height: 1.5;
    max-height: 6em;
}

.card-heart-icon {
    position: absolute;
    top: 0;
    right: 0;
}

.card-heart-icon p {
    color: #ffffff;
    font-weight: 700;
    text-transform: uppercase;
    -webkit-text-stroke: 1.3px #4a3c50;
}

.card-heart-icon button {
    top: 0;
    right: 0;
    color: #ffffff;
    -webkit-text-stroke: 1.3px #4a3c50;
    /* Outline color and thickness for WebKit browsers */
    padding: 0;
}

.card-heart-icon button:hover,
.card-heart-icon button:active,
.card-heart-icon:focus {
    color: #4a3c50;
    -webkit-text-stroke: 1.3px #ffffff;
}

.unfavourited-card {
    position: relative;
}

.unfavourited-card::after {
    content: "";
    /* Create a pseudo-element to act as the overlay */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(61, 56, 56, 0.835);
    z-index: 1;
}

.unfavourited-p {
    z-index: 99;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
}

/* Recipe cards pagination */
.page-link,
.page-link:hover {
    color: black;
}

.active-page .page-link {
    background-color: #008B20;
    color: #ffffff;
}

/* --------------------------------- Recipe detail page */
.white-container {
    border: 0.5px solid #dadeda;
    box-shadow: 6px 6px 12px #e9eae9,
        -6px -6px 12px #ffffff;
}

.icon-button {
    border: none;
    background: none;
    padding: 0;
    cursor: pointer;
}

.icon-button-stroke {
    color: #008B20;
}

.icon-button-stroke:hover,
.icon-button-stroke:active {
    color: #076c1f;
    -webkit-text-stroke: 1px #065f1b;
}

/* --------------------------------------- Comments */

#comments-input textarea {
    height: 150px;
}

#comments-input label {
    font-weight: 600;
}

.submit-btn {
    border: 2px solid #008B20;
}

.submit-btn:hover,
.submit-btn:active {
    background-color: #008B20;
    color: white;
    box-shadow: 6px 6px 12px #d3d4d3,
        -6px -6px 12px #ffffff;
}

.comment-inactive p {
    color: #9b969e;
}

.comment-edit,
.delete,
.comment-delete-cancel,
.submit-btn,
.update-btn {
    box-shadow: 6px 6px 12px #f1f2f1,
        -6px -6px 12px #ffffff;
    border-radius: 2em;
    background-color: white;
}

.delete {
    border: 2px solid #a90606;
}

.delete:hover,
.delete:active {
    background-color: #a90606;
    color: white;
    box-shadow: 6px 6px 12px #d3d4d3,
        -6px -6px 12px #ffffff;
}

.comment-edit,
.update-btn {
    border: 2px solid #FFC633;
}

.comment-edit:hover,
.comment-edit:active,
.update-btn:hover,
.update-btn:active {
    background-color: #FFC633;
    box-shadow: 6px 6px 12px #d3d4d3,
        -6px -6px 12px #ffffff;
}

.comment-delete-cancel {
    border: 2px solid #9e9696;

}

.comment-delete-cancel:hover,
.comment-delete-cancel:active {
    background-color: #9e9696;
    box-shadow: 6px 6px 12px #d3d4d3,
        -6px -6px 12px #ffffff;
}

/* ------------------------------------- Ratings */
.selected {
    color: #008B20;
}

/* -------------------------------------- Toasts */
.toast img {
    width: 30px;
    height: 30px;
}

/* --------------------------------------- Signup/Sign in */
.errorlist li {
    color: #a90606;
}

.login label,
.signup label {
    font-weight: 600;
}

.form-box {
    width: 100%;
    max-width: 900px;
}

/* -------------------------------- Footer */
footer {
    padding: 20px 0;
}

/* ---------------------------------- Medium screens */
@media screen and (min-width: 768px) {


    /* ---------------------------------- Heights/sizing */
    .fs-rem-md-180 {
        font-size: 1.8rem;
    }

    /* --------------------------------- Recipe detail page */
    .recipe-instructions {
        border-left: 2.5px solid #008B20;
    }

    /* ------------------------------------ Features page (home page) */
    .circle {
        height: 180px;
        width: 180px;
        line-height: 180px;
        border-radius: 50%;
        text-align: center;
    }

    .circle-white {
        background-color: #ffffff;
    }

    .circle-gray {
        background-color: #F8F9F8;
    }

    /* ---------------------------------- Comments */

    .comment-body {
        border-left: 2px solid #008B20;
    }
}

/* ---------------------------------- Large screens */
@media screen and (min-width: 992px) {

    /* ------------------------------- General */
    main {
        margin-top: 66px;
    }

    /* ------------------------------ Heights/sizing */
    .height-300-400 {
        height: 400px;
    }

    .img-sq-150-200 {
        height: 200px;
        width: 200px;
    }

    .fs-rem-lg-125 {
        font-size: 1.25rem;
    }

    .fs-rem-lg-160 {
        font-size: 1.6rem;
    }

    .fs-rem-lg-180 {
        font-size: 1.8rem;
    }

    .img-container {
        max-height: 450px;
    }

    .below-header {
        margin-top: 75px;
    }

    /* ----------------------------------- Features page (home page) */
    .circle,
    .circle-white,
    .circle-gray {
        height: auto;
        width: auto;
        line-height: normal;
        border-radius: initial;
        text-align: initial;
        background-color: initial;
    }

    /* -------------------------------- Navbar/Header */
    .navbar-brand img {
        height: 40px;
        aspect-ratio: 5.66 / 1;
    }

    .line-left {
        border-left: 1px solid white;
    }

    footer {
        padding: 20px 0;
    }

    .line-top {
        border-top: 0.5px solid white;
        padding-top: 20px;
    }

}