{% load static %}

<div class="col">
    <div class="card h-100 mx-auto" style="position: relative;" id="{{ recipe.id }}">
        {% if request.path == favourites_url %}
        <p class="d-none fs-rem-130 text-center text-white">Recipe removed from favourites</p>
        {% endif %}
        {% if "placeholder" in recipe.feature_image.url %}
        <img class="card-img-top" src="{% static 'images/default-image.webp' %}" alt="placeholder image">
        {% else %}
        <img class="card-img-top" src="{{ recipe.feature_image.url }}" alt="{{ recipe.alt_text }}">
        {% endif %}
        <div class="card-heart-icon d-flex align-items-center text-center m-2">
            <p class="mb-0 me-1"></p>
            <button class="icon-button me-2 heart-btn"
                data-logged-in="{% if user.is_authenticated %}true{% else %}false{% endif %}"
                data-recipe-id="{{ recipe.id }}">
                <i
                    class="fa {% if request.path == favourites_url %}fa-solid{% else %}{% if recipe.id in user_favorites %} fa-solid {% else %} fa-regular {% endif %}{% endif %} fa-heart m-1 fs-rem-180"></i>
            </button>
        </div>
        <div class="card-header d-flex justify-content-between align-items-center">
            <!-- Improve accessibility? -->
            <div class="rating">
                <!-- Button to open modal -->
                <button class="icon-button init-rate-btn" data-user-rating="{{ recipe.user_rating }}"
                    data-recipe-id="{{ recipe.id }}"
                    data-logged-in="{% if user.is_authenticated %}true{% else %}false{% endif %}"
                    aria-label="Avg rating is {{ recipe.avg_rating }}">
                    {% for i in stars_range %}
                    {% if recipe.avg_rating >= i %}
                    <i class="fa-solid fa-star" aria-hidden="true"></i>
                    {% elif recipe.avg_rating > i|add:"-1" %}
                    <i class="fa-solid fa-star-half-stroke" aria-hidden="true"></i>
                    {% else %}
                    <i class="fa-regular fa-star" aria-hidden="true"></i>
                    {% endif %}
                    {% endfor %}
                    <span class="ratings-count">({{ recipe.ratings_count }})</span>
                </button>
            </div>
            <div class="category fs-rem-120">
                {% if recipe.category == 1 %}
                <i class="fa-solid fa-drumstick-bite" aria-hidden="true"></i>
                <span class="sr-only">Recipe category is "chicken".</span>
                {% elif recipe.category == 2 %}
                <i class="fa-solid fa-bacon" aria-hidden="true"></i>
                <span class="sr-only">Recipe category is "pork".</span>
                {% elif recipe.category == 3 %}
                <i class="fa-solid fa-cow" aria-hidden="true"></i>
                <span class="sr-only">Recipe category is "beef".</span>
                {% elif recipe.category == 4 %}
                <i class="fa-solid fa-fish" aria-hidden="true"></i>
                <span class="sr-only">Recipe category is "fish".</span>
                {% elif recipe.category == 5 %}
                <i class="fa-brands fa-pagelines" aria-hidden="true"></i>
                <span class="sr-only">Recipe category is "fish".</span>
                {% endif %}
            </div>
        </div>
        <div class="card-body">
            <a class="brand-dark standard-link" href="{% url 'recipe_detail' recipe.slug %}">
                <h3 class="card-title truncate-two-lines">{{ recipe.title }}</h3>
                <p class="card-text truncate-three-lines">{{ recipe.teaser }}</p>
            </a>
        </div>
    </div>
</div>