<section class="hero-section container-fluid d-flex align-items-center">
    <div class="container-xl">
        <div class="row">
            <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
                {% if request.path == home_page_url %}
                <h1 class="text-white text-center">Welcome to Basil & Thyme!</h1>
                <h2 class="text-white text-center">Search for your new favourite recipes below:</h2>
                {% else %}
                <h1 class="text-white text-center">{{ searchHeading }}</h1>
                {% endif %}
            </div>
        </div>
        <div class="row">
            <div class="col-md-10 col-lg-8 col-xl-7 mx-auto searchbar-outline">
                <form class="input-group input-group-lg searchbar" method="GET" action="{% url 'recipe_list_page' %}">
                    <input class="form-control fs-rem-90 fs-rem-md-120 px-2 px-md-3" type="search" name="q"
                        placeholder="Search for recipes or ingredients..." aria-label="Search for recipes"
                        maxlength="45">
                    <button class="btn" type="submit" aria-label="Submit query for search"><i class="fa fa-search"
                            aria-hidden="true"></i></button>
                </form>
            </div>
        </div>
        <div class="row">
            <div class="col-md-10 col-lg-8 col-xl-7 mx-auto text-center category-btns">
                <button class="btn mx-2 mt-3 btnCategory"
                    aria-label="Search for the category chicken. Results will display on the Recipes page."
                    value="chicken">Chicken</button>
                <button class="btn mx-2 mt-3 btnCategory"
                    aria-label="Search for the category beef. Results will display on the Recipes page."
                    value="beef">Beef</button>
                <button class="btn mx-2 mt-3 btnCategory"
                    aria-label="Search for the category pork. Results will display on the Recipes page."
                    value="pork">Pork</button>
                <button class="btn mx-2 mt-3 btnCategory"
                    aria-label="Search for the category fish. Results will display on the Recipes page."
                    value="fish">Fish</button>
                <button class="btn mx-2 mt-3 btnCategory"
                    aria-label="Search for the category vegetarian. Results will display on the Recipes page."
                    value="vegetarian">Vegetarian</button>
                <button class="btn mx-2 mt-3 btnCategory" aria-label="Display all recipes on the recipes page."
                    value="all">See all</button>
            </div>
        </div>
    </div>
</section>