<!-- TOASTS -->
{% load static %}
<!-- Container to stack toasts when several displaying -->
<div class="toast-container position-fixed top-0 end-0 p-3 below-header">
    <!-- Toast: Ratings -->
    <div class="toast" role="status" aria-live="polite" aria-atomic="true" id="toast">
        <div class="toast-header">
            <img src="https://res.cloudinary.com/deceun0wd/image/upload/q_auto/v1713094527/logo-round-small-green_qnavae.webp"
                class="success-img square-30 d-none me-2" alt="Action was successful" loading="lazy">
            <img src="https://res.cloudinary.com/deceun0wd/image/upload/q_auto/v1713094598/logo-round-small-red_chz2oc.webp"
                class="fail-img square-30 d-none me-2" alt="Action failed" loading="lazy">
            <strong class="me-auto">Ratings</strong>
            <small class="text-body-secondary">just now</small>
            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
        <div class="toast-body bg-toast"></div>
    </div>
    <!-- Toast: Favouriting -->
    <div class="toast" role="status" aria-live="polite" aria-atomic="true" id="fave-toast">
        <div class="toast-header">
            <img src="https://res.cloudinary.com/deceun0wd/image/upload/q_auto/v1713094527/logo-round-small-green_qnavae.webp"
                class="success-img square-30 d-none me-2" alt="Action was successful" loading="lazy">
            <img src="https://res.cloudinary.com/deceun0wd/image/upload/q_auto/v1713094598/logo-round-small-red_chz2oc.webp"
                class="fail-img square-30 d-none me-2" alt="Action failed" loading="lazy">
            <strong class="me-auto">Favourites</strong>
            <small class="text-body-secondary">just now</small>
            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
        <div class="toast-body bg-toast"></div>
    </div>
    <!-- Toast: Commenting -->
    <div class="toast" role="status" aria-live="polite" aria-atomic="true" id="comment-toast">
        <div class="toast-header">
            <img src="https://res.cloudinary.com/deceun0wd/image/upload/q_auto/v1713094527/logo-round-small-green_qnavae.webp"
                class="success-img square-30 d-none me-2" alt="Action was successful" loading="lazy">
            <img src="https://res.cloudinary.com/deceun0wd/image/upload/q_auto/v1713094598/logo-round-small-red_chz2oc.webp"
                class="fail-img square-30 d-none me-2" alt="Action failed" loading="lazy">
            <strong class="me-auto">Comments</strong>
            <small class="text-body-secondary">just now</small>
            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
        <div class="toast-body bg-toast"></div>
    </div>
</div>